@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* font-family: muli, sans-serif; */
    font-family: "Reem Kufi Fun", sans-serif;
    @apply dark:bg-slate-900 dark:text-gray-100 text-slate-900;
  }
}

h2 {
  @apply text-textColor text-[1.7rem] px-5 md:text-4xl font-extrabold text-center dark:text-gray-100;
}
h3 {
  @apply text-textColor text-2xl md:text-3xl font-extrabold text-center;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.shadow-sm {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

header.active {
  background: white;
  color: black;
}

.fadeIn {
  animation: fadeIn 0.4s ease-in;
  transition: all 0.8s ease-in-out;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform-origin: 0%;
}

@keyframes fadeIn {
  0% {
    transform: translateX(25px);
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }

  100% {
    opacity: 100%;
  }
}

.bg {
  background: linear-gradient(90deg, #ff758c 0%, #ff7eb3 100%);
}
