@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: muli, sans-serif;
    @apply dark:bg-darkGray dark:text-gray-100 text-darkGray;
  }
}

h2 {
  @apply text-textColor text-4xl font-bold text-center dark:text-gray-100;
}
h3 {
  @apply text-textColor text-3xl font-bold text-center;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.shadow-sm {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

header.active {
  background: white;
  color: black;
}
